{% extends 'adminbase.html.twig' %}

{% block title %}Edit Hotel{% endblock %}

{% block body %}
    <h1>Edit Hotel</h1>

    {{ include('admin/hotel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_hotel_index') }}">back to list</a>

    {{ include('admin/hotel/_delete_form.html.twig') }}
{% endblock %}
