{% extends 'adminbase.html.twig' %}

{% block title %}New Hotel{% endblock %}

{% block body %}
    <h1>Create new Hotel</h1>

    {{ include('admin/hotel/_form.html.twig') }}

    <a href="{{ path('app_hotel_index') }}">back to list</a>
{% endblock %}
